<div class="auth-container">
  <h2>Iniciar Sesión</h2>
  <form (ngSubmit)="onSubmit()">
    
    <div class="form-group">
      <label>Email</label>
      <input type="email" [(ngModel)]="loginData.email" name="email" required>
    </div>

    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" [(ngModel)]="loginData.password" name="password" required>
    </div>

    <button type="submit">Entrar</button>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </form>
</div>